html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

#content {
}

    #content div {
        position: relative;
        float: left;
        margin-right: 10px;
        height:300px;
        width: 300px; /* background: #eee; */ /* border: 1px solid red; */
        box-shadow: 1px 0px 8px 0px blue;
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 20px;
    }

        #content div img, #content div audio, #content div video, #content div iframe {
            height: 282px;
            width: 100%;
            max-width: 100%;
            margin-top: -24px;
        }

        #content div span {
            position: relative;
            top: 10px;
            left: 10px;
            /* height: 45px; */
            /* width: 40px; */
            background: green;
            color: #fff;
            padding: 7px 1px 7px 3px;
            font-size: 11px;
            border-radius: 50%;
        }

        #content div h2 {
            background: green;
            font-size: 11px;
            color: #fff;
            padding: 0 10px 0 10px;
        }
progress[value] {
    --color: /* the progress color */
    /* if < 30% "red" */
    linear-gradient(red 0 0) 0 /calc(var(--w)*.3 - 100%) 1px,
    /* if < 60% "orange" */
    linear-gradient(orange 0 0) 0 /calc(var(--w)*.6 - 100%) 1px,
    /* else "green" */
    green;
    --background: lightgrey; /* the background color */

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
    background: var(--background);
    transform: rotate(-90deg);
    -webkit-mask: radial-gradient(#0000 59%,#000 60% 70%,#0000 71%)
}

    progress[value]::-webkit-progress-bar {
        background: var(--background);
    }

    progress[value]::-webkit-progress-value {
        background: var(--color);
    }

    progress[value]::-moz-progress-bar {
        background: var(--color);
    }

.label {
    --w: 30px; /* the width*/

    font-size: 20px;
    font-weight: bold;
    display: inline-grid;
    place-content: center;
    width: var(--w);
    aspect-ratio: 1;
    position: absolute;
}
